.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    background: #fff;
    border:1px solid #ccc;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -66px;
}
.checkbox-custom label:before {
    border: 1px solid #ccc;
    border-width: 1px;
}
@media (min-width: 992px) {
   /* .col-md-9 {
        width: 62%;
    }*/
    .col-md-2 {
        width: 9.666667%;
    }
}
@media (min-width: 768px){
    .form-horizontal .control-label {
        text-align: left;
        margin-bottom: 0;
        padding-top: 10px;
    }
}