.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    background: #fff;
    border:1px solid #ccc;
}
.table tr{border:1px solid #eee!important;}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -128px;
}
.checkbox-custom label:before {
    border: 1px solid #ccc;
    border-width: 1px;
}
@media (min-width: 992px) {
    .col-md-2 {
        width: 9.666667%;
    }
    .ideal_list .col-md-2{width: 12.666667%}
    #add-image .col-md-2{width: 14.666667%}
    .message .col-md-2{width: 14.666667%}
    .found_menu .col-md-2{width: 10.666667%}
    .zg_detail .col-md-2{width: 16.66666667%}
}
@media (min-width: 768px){
    .form-horizontal .control-label {
        text-align: left;
        margin-bottom: 0;
        padding-top: 10px;
    }
}
.pagination {
     margin: 0;
}
.panel-heading {
    position: relative;
    height: 40px;
    line-height: 40px;
}
.fund_detail .panel-heading {
    position: relative;
    height: 52px;
    line-height: 49px;
}

.thumbnail {
     padding: 0px;
     border: 0px solid #dddddd;
    border-radius: 100%;
}
.table > tbody > tr > td{
    padding: 10px 15px;
    line-height: 1.49;
    vertical-align: middle;
    border-top: 0px solid #eeeeee;
}
.client_detail .table > tbody > tr > td {
    padding: 9px 10px;
    line-height: 1.49;
    vertical-align: middle;
     border-bottom: 1px solid #eeeeee;
}
.media {
    color: #999999;
    font-weight: 600;
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;

}
.admin-form .panel-heading {
    padding: 5px 20px!important;
}
.admin-form .panel-title {
    font-size: 18px!important;
}
@media (min-width: 768px){
    .form-horizontal .control-label {
       padding-top: 0px;
    }
}
.btn {
    padding: 5px 12px;
}
.table > thead > tr > th{
    padding: 9px 16px;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #07c;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #07c;
}
.tooltip-inner {
    color: #fff;
    background-color: #07c;
}
@media (min-width: 992px){
    .client_detail .col-md-2 {
        width: 14.666667%;
        font-weight: 600;
    }
    #link_detail .col-md-2{
        width: 15.666667%;
    }
}
#link_detail
/*Íâ¹Û*/
#sidebar_left {
    background-color: #fff;
}
#sidebar_left {
    color: #666!important;
    background-color: #fff!important;
}
.sidebar-menu > li > a {
    color: #666;
}
.sidebar-menu > li > ul {
    background-color: #fff;
}
body.sb-l-m #sidebar_left {
    background-color: #fff;
}
body.sb-l-m .sidebar-menu > li > a > .sidebar-title {
    background-color: #f8f8f8;
}
#topbar.alt {
    min-height: 40px;
    padding: 8px;
}
.sb-l-o #sidebar_left {
    left: 0;
    overflow: hidden;
    border-right: 1px solid #ccc;
}
.sidebar-menu {
    margin-top: 30px;
}
.sidebar-widget.author-widget .media-links a:hover {
    color: #666;
}
.sidebar-widget.author-widget .media-body {
    color: #999;
}
.sidebar-widget.author-widget {
    margin-top: 0px;
}
.sidebar-menu li > a.menu-open > span.caret {
    color: #858483;
}
